@import "bootstrap";

body {
  background: #e3e3e3;
}

img {
  max-width: 100%;
}

.navbar {
  background: #e3e3e3;
  border-bottom: none;
}

.navbar-brand {
  img {
    width: 200px;
  }
}

.content {
  margin: 50px auto;
  text-align: center;
  .largelogo {
    padding-bottom: 100px;
  }
  .aboutbg {
    background: url(../images/about_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #54445E;
    height: 1000px;
    .about-banner {
      margin-top: 50px;
    }
    .about-text {
      margin: 500px auto;
      text-align: left;
      color: #e3e3e3;
      width: 75%;
    }
  }
  .projects {
    margin-top: 50px;
  }
}